body{
    margin: 0;
    min-height: 100vh;
    background-image: url("./newbackground.JPG");
    background-size: cover;
background-position: center;
/* background-repeat: no-repeat; */
      
    /* background-position:; */
    /* background-repeat: no-repeat;  */
    /* background-color: black;       fills empty space */
}

.searchbar{
    height: 10vh;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBarParentDiv{
    width: 50%;
    position: relative;
}

.inputfield{
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    outline: none;
}

.searchIcon{
    position: absolute;
    right: 10px;
    top:5px;
}
.searchIcon:hover
{
    cursor: pointer;
}

.mainContentParentDiv{
    height: 90vh;
    flex-direction: row;
}

.leftDiv{
    width:30% ;
    /* border: 1px black solid;  */
    height: 100%;
    display: flex;
    flex-direction: column;
}


.leftChild{
    background: rgba(212, 212 ,212, 0.4);
    width:85%;
    height: 40vh;
    margin: auto;
    border-radius: 15px;
    backdrop-filter: blur(15px);
}

.currentTempDiv h6{
    font-size: large;
}
#cityName{
    font-size: xx-large;
}

#cityTemp{
    font-size: x-large;
}

#comingFiveDays{
    font-size: x-large;
}
.rightDiv{
    width: 70%;
    /* border: 1px rgb(232, 9, 9) solid; */
    height: 100%;
    display: flex;
     flex-direction: column;
     gap: 20px;
}

.rightRow{
    height: 27vh;
    width: 100%;
    /* border: 2px white solid; */
}

.extraMetric{
    background: rgba(212, 212 ,212, 0.4);
    padding: 5% 2%;
    width: fit-content;
    border-radius: 15px;
    align-items: center;
    backdrop-filter: blur(15px);
}

.rowTwodiv{
    background: rgba(212, 212 ,212, 0.4);
    backdrop-filter: blur(15px);
    width: 45%;
    height: 85%;
    border-radius: 15px;
}

.todayTemp{
     background: rgba(212, 212 ,212, 0.4);
    backdrop-filter: blur(15px);
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:767px)
{
    .leftDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;

    }
    .rightDiv{
        width: 100%;

    }
    .mainContentParentDiv{
        height: 90vh;
        flex-direction: row;
    }
    .searchbar{
    width: 100%;
    }
    .searchBarParentDiv{
        width: 85%;
        height: fit-content;
        position: relative;

    }
    .rowOne{
        /* flex-direction: column; */
        flex-wrap: wrap;
        width: 85%;
        margin: auto;
    }
    .rowTwo{
        flex-direction:column;
        gap: 10px;
        height: 30vh;
    }
    .rowTwodiv{
    background: rgba(212, 212 ,212, 0.4);
    backdrop-filter: blur(15px);
    width: 85%;
    height: 85%;
    border-radius: 15px;
    }
   .rowThree{
    width: 85%;
    margin: auto;
   }
    todayTempParentDiv{
        width: 100%;
        flex-wrap: wrap;
        margin: auto;
        gap: 15px;
    }

}